# for backend file ignore
/phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
**/.DS_Store
/node_modules
/bootstrap/cache/*.php
/bootstrap/cache/*.tmp
/public/uploads/website-images/coin_campaigns/*
/public/uploads/*/*.*
/public/uploads/

